body {
  background-color:lightgray;

}

#profile-pic {
   height: 416px;
   width:auto;
   float: right;

 }
#second-section{
  background: white;
   width:100%;
   height: 400px;
 }

#blurb{
  text-align: center;
  padding: 10%;
  padding-left: 10%;
  color:white;
}

#third-section{
  background-image: url("../img/desk.png");
  background-size: cover;
  background-position: center;
  height: 1100px;
  width: auto;
}
#site-photo{
  width:75%;
  height:auto;
  padding-top: 3%;
  margin:auto;
  display: block;

}
#sample-site-text{
  color:white;
  padding: 3%;
}
