body {
  background-color:lightgray;
  font-family: 'Josefin Sans', sans-serif;
}
.navb{
  position:fixed;
  top:0;
  width:100%;
}
#first-section{
  padding-top: 40px;
}
#profile-pic {
   height: 416px;
   width:auto;
   float: right;

 }
#second-section{
  background: darkgray;
   width:100%;
   height: auto;
   padding-top:5%;
   padding-bottom: 5%;
 }

#blurb{
  text-align: center;
  padding: 10%;
  padding-left: 10%;
  color:white;
}

#third-section{
  background-image: url("../img/desk.png");
  background-size: cover;
  background-position: center;
  height: 1100px;
  width: auto;
}
#site-photo{
  width:100%;
  height:auto;
  margin:auto;
  display: block;

}
#sample-site-text{
  color:white;
  padding-left: 5%;
}
