
body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: lightgray;
}
p {
  font-family: helvetica;
}
.nav-pills .nav-link {
  color: #3d2e1a;
}
.btn {
  background-color: #3d2e1a;
  border-width: 0px;
}
.transparent-band {
  background-image: url("../img/desk.png");
  height: 250px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#first-section{
}

#second-section {
  background-image: url("../img/desk.png");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding:5%;
}
#blurb{
  text-align: center;
  padding-top: 100px;
  color:#3d2e1a;
}
#profile-pic {
   height: 422px;
   width:auto;
   float: right;
   bottom:0;
 }

#third-section{
  background-color:lightgray;
  padding:5%;
  padding-top: 100px;
}
.about-me-text {
  column-count: 2;
}
.site-photo{
  width:100%;
  height:auto;
  margin:auto;
  display: block;
  padding-bottom: 50px;
}

#sample-site-text{
  color:white;
  padding-left: 5%;
  padding-top: 50px;
}
@media only screen and (max-width: 600px) {
  p, li{
    font-size: 19pt;}
  .about-me-text{
    column-count:1;
  }
  }
@media only screen and (min-width: 600px) {
  p, li{
    font-size: 12pt;
  }
  }
